.c-about {
    padding-bottom: 122px;
    position: relative;

    &::after {
        content: "";
        width: 76.7%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        background-color: $main-color;
        z-index: -1;
        max-width: 1314px;
    }

    @include tab {
        padding-bottom: 72px;
        // background: linear-gradient(90deg, #0080cc 86.9%, #fff 14.1%);

        &::after {
            // display: none;
        }
    }

    .c-about__title {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 32px 30px 24px;
        font-size: 2.6rem;
        font-weight: 500;
        background-color: #fff;
        position: relative;
        letter-spacing: 1.8px;
        color: $main-color;
        transform: translateY(-95px);

        &::after {
            content: "";
            width: 2px;
            height: 30px;
            background-color: $main-color;
            position: absolute;
            left: 50%;
            top: -12%;
        }

        @include tab {
            font-size: 2.2rem;
            max-width: 686px;
            transform: translateY(-24px);
            padding: 15px 68px 16px;
            letter-spacing: 1.5px;

            &::after {
                left: 51.3%;
                top: -33.3%;
            }
        }
    }

    .c-about__titlespan {
        color: $orange-color;
        display: inline-block;
        transform: translate(6px, 1px);
    }

    .c-about__scroll {
        font-size: 2rem;
        font-weight: 500;
        color: $main-color;
        position: absolute;
        left: 45.7%;
        transition: 0.4s;
        cursor: pointer;
        top: -56.5%;
        letter-spacing: 1px;

        &:hover {
            opacity: 0.7;
            transition: 0.4s;
        }

        @include tab {
            transform: translateX(-50%);
            top: -100%;
            left: 51.4%;
            letter-spacing: 0.5px;
        }
    }

    .c-about__content {
        display: flex;
        max-width: 1200px;
        margin: 6px auto 0;

        
    }

    .c-about__text {
        color: $text-ff-color;
        width: 50%;
        margin-top: 12px;
        padding-left: 10.1%;
        padding-right: 4%;

        @include tab {
            width: 60%;
            margin-top: 22px;
            padding-left: 16px;
            padding-right: 0;
        }
    }

    .c-about__heading {
        color: $text-ff-color;
        letter-spacing: 2.2px;

        @include tab {
            font-size: 3rem;
        }
    }

    .c-about__desc {
        margin-top: 23px;

        @include tab {
            margin-top: 7px;
            margin-left: 2px;
        }
    }

    .c-about__desccontent {
        max-width: 414px;
        line-height: 1.75;
        letter-spacing: 0.3px;

        @include tab {
            font-size: 1.4rem;
            letter-spacing: -1.1px;
            max-width: 388px;
            line-height: 1.79;
        }
    }

    .c-about__img {
        width: 50%;

        @include tab {
            width: 40%;
            max-width: 311px;
        }
    }

    .c-about__src {
        position: relative;
        z-index: 1;
        padding-right: 20px;

        &::before {
            content: "";
            width: 100%;
            display: block;
            border: 2px solid #fff;
            height: 356px;
            position: absolute;
            z-index: 2;
            height: 100%;
            transform: translate(-20px, 19px);
        }

        @include tab {
            max-width: 900px;
        }
    }

    .c-about__img1 {
        @include tab {
            transform: translate(-23px, -9px);
            padding-right: 0;
        }
    }

    .c-about__img2 {
        margin-top: 44px;

        @include tab {
            transform: translate(-23px, -9px);
            padding-right: 0;
        }
    }
}
