.c-career {
    padding-top: 92px;

    .c-career__heading {
        text-align: center;
        letter-spacing: 2.3px;
    }

    .c-career__subheading {
        text-align: center;
        line-height: 1.7;
        margin-top: 20px;
        letter-spacing: 0.4px;
    }

    .c-career__banner {
        margin-top: 103px;
        background-image: url("../../assets/img/career-bg.jpg");
        background-size: cover;
        min-height: 674px;
        width: 100%;
        position: relative;
    }

    .c-career__bannersp {
        width: 100%;
    }

    .c-career__bannerspimg {}

    .c-career__bannercontent {
        background-color: $text-ff-color;
        position: absolute;
        padding-right: 0;
        max-width: 489px;
        padding: 25px 31px 31px;
        left: 10%;
        top: 14.3%;
    }

    .c-career__bannertitle {
        letter-spacing: 0.7px;
        line-height: 1.3;
        margin-top: 15px;
        transform: translateX(10px);
    }

    .c-career__bannertext {
        color: $text-ob-color;
        margin-top: 11px;
        letter-spacing: 0.41px;
        line-height: 1.88;
        transform: translateX(9px);
    }

    .c-career__plan {
        margin-top: 74px;
        width: 76.8%;
        padding-bottom: 104px;
        background-color: #f8f8f8;
        display: flex;
        justify-content: flex-end;
        padding-right: 3%;
    }

    .c-career__plancontainer {
        width: 921px;
        padding-left: 119px;
    }

    .c-career__plantop {}

    .c-career__plantitle {
        padding-top: 94px;
        letter-spacing: 1px;
    }

    .c-career__plancontent1 {
        margin-left: 41px;
        margin-top: 41px;
    }

    .c-career__plancontent2 {
        margin-left: 41px;
        margin-top: 16px;
    }

    .c-career__plancontent3 {
        margin-left: 41px;
        margin-top: 17px;
    }

    .c-career__plancontent4 {
        margin-left: 41px;
        margin-top: 15px;
    }

    .c-career__plancontentsp {}

    .c-career__timeline {
        color: $main-color;
        letter-spacing: 0.5px;
    }

    .c-career__timelinetext {
        color: $main-color;
        padding-left: 87px;
        border-left: 1px solid $main-color;
        margin-left: 51px;
        margin-top: 17px;
        padding-top: 13px;
        padding-bottom: 18px;
        letter-spacing: 0.4px;
        line-height: 1.6;
    }

    .c-career__timelinetextsp {
        @include sp {
            margin-top: 9px;
            display: inline-block;
        }
    }

    .c-career__timelinetextadjust2 {
        margin-top: 9px;
        padding-top: 12px;
    }

    .c-career__timelinetextadjust3 {
        margin-top: 14px;
        padding-bottom: 19px;
        line-height: 1.73;
    }

    .c-career__timelinetextadjust4 {
        margin-top: 16px;
        padding-bottom: 12px;
        line-height: 1.74;
    }

    .c-career__timelinefooter {
        max-width: 652px;
        margin: 0 auto 0 81px;
        position: relative;
    }

    .c-career__leftdecor {
        position: absolute;
    }

    .c-career__rightdecor {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .c-career__timelineend {
        color: $orange-color;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 34px;
        letter-spacing: 0.6px;
        margin-top: 42px;
    }

    .c-career__service {
        display: flex;
        background-color: #fdfbef;
        width: 90%;
        margin-left: auto;
        max-width: 1439px;
        padding-right: 15px;
    }

    .c-career__serviceimgs {
        display: flex;
        flex-direction: column;
    }

    .c-career__serviceimg {
        min-width: 400px;
    }

    .c-career__serviceimgsrc {}

    .c-career__servicedesc {
        margin-left: 40px;
    }

    .c-career__servicetop {}

    .c-career__servicetitle {
        color: $orange-color;
    }

    .c-career__servicetitletop {
        letter-spacing: 0.7px;
        margin-top: 92px;
        margin-bottom: 8px;
    }

    .c-career__list {}

    .c-career__serviceitem {
        font-size: 1.8rem;
        font-weight: 500;
        color: $text-3c-color;
        letter-spacing: 0.6px;
        line-height: 1.66;
        padding-left: 16px;
        position: relative;
    }

    .c-career__servicesub {
        font-weight: 300;
        padding-left: 20px;
    }

    .c-career__bracket {
        font-size: 1.6rem;
        font-weight: 300;
    }

    .c-career__bracket1 {}

    .c-career__bracket2 {
        letter-spacing: -1px;
    }

    .c-career__bracket3 {}

    .c-career__dt1 {}

    .c-career__dt2 {}

    .c-career__dt3 {
        margin-bottom: 10px;
    }

    .c-career__dt4 {
        margin-bottom: 12px;
    }

    .c-career__dt5 {
        margin-bottom: 12px;
    }

    .c-career__dt6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .c-career__dt7 {}

    .c-career__dd1 {
        margin-bottom: 14px;
        margin-top: 14px;
        letter-spacing: 0.3px;
        line-height: 1.67;
    }

    .c-career__dd2 {
        margin-top: 4px;
        letter-spacing: 0.5px;
        margin-bottom: 13px;
    }

    .c-career__ddsmall {
        padding-left: 23px;
        padding-bottom: 4px;
        letter-spacing: 0.4px;
    }

    .c-career__dot {
        font-size: 1rem;
        padding-right: 6px;
        position: absolute;
        top: 8px;
        left: 0;
    }

    .c-career__dot2 {
        font-size: 1.3rem;
    }

    .c-career__ddnodot {
        margin-top: 11px;
        padding-left: 22px;
        margin-bottom: 4px;
        letter-spacing: 0.5px;
    }

    .c-career__servicetitlebot {
        margin-top: 54px;
        letter-spacing: 0.6px;
        margin-bottom: 14px;
    }

    .c-career__serviceimg:nth-child(3) {
        margin-top: -1px;
    }

    .c-career__serviceimg:nth-child(4) {
        margin-top: -1px;
    }
}
