.c-intaview {
    .c-intaview__heading {
        font-size: 4.4rem;
        text-align: center;
        letter-spacing: 3.2px;
        padding-top: 90px;
    }

    .c-intaview__subheading {
        text-align: center;
        line-height: 1.8;
        margin-top: 4px;
        letter-spacing: 0.3px;
    }

    .c-intaview__cards {
        display: flex;
        max-width: 960px;
        margin: 54px auto 0;
        width: 100%;
        justify-content: space-between;
    }

    .c-intaview__card {
        width: 32.6%;
        border: 4px solid $main-color;
        position: relative;
        cursor: pointer;
        transition: 0.4s linear;

        &:hover {
            border: 4px solid $active-main-color;
            transition: 0.4s linear;

            .c-intaview__message {
                color: $active-main-color;
                transition: 0.4s linear;
            }

            .c-intaview__cardinfo {
                background-color: $active-main-color;
                transition: 0.4s linear;
            }
        }
    }

    .c-intaview__spcard {
    
    }

    .c-intaview__cardimage {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &::after {
            content: "";
            background: $text-ff-color;
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.4s linear;
        }

        &:hover {
            &::after {
                transition: 0.4s linear;
                opacity: 0.74;
            }

            .c-intaview__zoom {
                transform: translate(-50%, -50%);
                transition: 0.4s linear;
                bottom: 27.8%;
            }
        }
    }

    .c-intaview__cardimagesrc {
    
    }

    .c-intaview__zoom {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 100%);
        transition: 0.4s;
        z-index: 2;
        color: $active-main-color;
    }

    .c-intaview__zoomin {
        width: 30px;
        height: 30px;
    }

    .c-intaview__zoomtitle {
        text-transform: uppercase;
        font-size: 2.4rem;
        font-weight: 600;
    }

    .c-intaview__message {
        max-width: 241px;
        font-size: 1.8rem;
        font-weight: 600;
        padding-bottom: 50px;
        color: $main-color;
        margin: 15px auto 1px 21px;
        letter-spacing: 0.3px;
    }

    .c-intaview__cardinfo {
        background-color: $main-color;
        color: $text-ff-color;
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: 294px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 19px;
        left: 2%;
        bottom: -8.8%;
    }

    .c-intaview__playicon {
        width: 16.6%;
    }

    .c-intaview__cardtext {
        width: 83.4%;
    }

    .c-intaview__cardname {
        font-size: 2rem;
        font-weight: 400;
    }

    .c-intaview__cardposition {
        font-size: 1.4rem;
    }

    .c-intaview__represent {
        background-color: $main-color;
        color: $text-ff-color;
        margin-top: 141px;
        padding-bottom: 124px;
    }

    .c-intaview__respresentmain {
        max-width: 960px;
        margin: 0 auto;
    }

    .c-intaview__representtitle {
        color: $text-ff-color;
        padding-top: 92px;
        letter-spacing: 2.7px;
    }

    .c-intaview__representsubtitle {
        font-size: 2.4rem;
        font-weight: 500;
        margin-top: 42px;
        letter-spacing: 0.5px;
    }

    .c-intaview__representbody {
        display: flex;
        justify-content: space-between;
    }

    .c-intaview__representcontent {
        font-weight: 300;
        margin-top: 27px;
        letter-spacing: 0.4px;
        line-height: 1.75;
    }

    .c-intaview__representsp {

    }

    .c-intaview__representimage {
        margin-top: -36px;
    }

    .c-intaview__representimagesrc {

    }

    .c-intaview__representbody2 {

    }

    .c-intaview__representadvise {
        font-size: 2.4rem;
        font-weight: 500;
        margin-top: 30px;
        letter-spacing: 0.55px;
        line-height: 1.89;
    }

    .c-intaview__representsign {
        font-size: 2.2rem;
        font-weight: 500;
        margin-top: 23px;
        letter-spacing: 0.6px;
    }

    .c-intaview__representbottitle {
        margin-top: 47px;
        letter-spacing: 2.3px;
        color: $text-ff-color;
    }

    .c-intaview__representfooter {
        display: flex;
        max-width: 880px;
        margin: 44px auto 0;
        justify-content: space-between;
    }

    .c-intaview__representlogo {
        width: 42.7%;
    }

    .c-intaview__representlogosrc {
    
    }

    .c-intaview__representcontact {
        width: 57.3%;
        margin-top: -6px;
    }

    .c-intaview__representcontactitem {
        display: flex;
        font-size: 2.4rem;
        font-weight: 500;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .c-intaview__contactlang {
        letter-spacing: 2px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 62px;
            height: 1px;
            background: #fff;
            left: 54px;
            top: 18px;
        }
    }

    .c-intaview__contacten {
        letter-spacing: 0.4px;
    }

    .c-intaview__contactitem2 {
        max-width: 346px;
    }

    .c-intaview__contacten3 {
        transform: translateX(-36px);
    }

    .c-intaview__modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9999;
        background-color: rgba($color: #fff, $alpha: 0.8);
        // max-height: 957px;
        overflow: auto;
    }

    .c-intaview__modalmain {
        max-width: 960px;
        margin: 85px auto;
        background: #fff;
        border: 4px solid $main-color;
        padding: 42px 57px 35px;
    }

    .c-intaview__modaltitle {
        font-size: 2.4rem;
        color: $main-color;
        font-weight: 600;
        letter-spacing: 1.72px;
    }

    .c-intaview__modalcontent {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .c-intaview__modalcard {
        width: 34.6%;
    }

    .c-intaview__modalcardimage {
    
    }

    .c-intaview__modalcardimagesrc {
    
    }

    .c-intaview__modalcardname {
        background: $main-color;
        color: $text-ff-color;
        padding: 10px 10px 13px;
    }

    .c-intaview__modalname {
        font-size: 2.4rem;
        font-weight: 400;
        text-align: center;
    }

    .c-intaview__modalposition {
        text-align: center;
    }

    .c-intaview__modalqa {
        width: 65.4%;
        max-width: 510px;
    }

    .c-intaview__modallist {
        margin-top: -4px;
        margin-left: 2px;
    }

    .c-intaview__modalq {
        font-size: 1.8rem;
        font-weight: 600;
        color: $text-3c-color;
        letter-spacing: 0.3px;
    }

    .c-intaview__modala {
        color: $text-ob-color;
        line-height: 1.88;
        margin-top: 7px;
        margin-bottom: 25px;
        letter-spacing: 0.3px;
    }

    .c-intaview__modalclose {
        margin-left: auto;
        margin-top: 26px;
    }

    .c-intaview__modalicon {
    
    }

    .c-intaview__modaliconsrc {
    
    }

    .c-intaview__modaltext {
    
    }
}
