.c-intaview {
    .c-intaview__heading {
        font-size: 4.4rem;
        text-align: center;
        letter-spacing: 3.2px;
        padding-top: 90px;
    }

    .c-intaview__subheading {
        text-align: center;
        line-height: 1.7;
        margin-top: 4px;
        letter-spacing: 0.3px;
    }
}
