.c-title44 {
    font-size: 4.4rem;
    color: $main-color;
    font-weight: 500;
}

.c-title34 {
    @extend .c-title44;
    font-size: 3.4rem;
}

.c-title28 {
    font-weight: 500;
    font-size: 2.8rem;
}

.c-title25 {
    font-size: 2.5rem;
    font-weight: 600;
}

.c-title16 {
    color: $text-3c-color;
}
