//baseWidth
$base-width: 320px;

$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$main-color: #0080cc;
$active-main-color: #005384;
$orange-color: #ff5800;

$text-3c-color: #3c3c3c;
$text-ob-color: #0b0b0b;
$text-ao-color: #a0a0a0;
$text-ff-color: #fff;

$bg-fd-color: #fdfbef;
$bg-f8-color: #f8f8f8;
$bg-ef-color: #eff3f5;
