<section class="c-mainvisual">
    <div class="c-mainvisual__slider">
        <div class="c-mainvisual__slide">
            <div class="c-mainvisual__slide1 c-mainvisual__img"></div>
        </div>

        <div class="c-mainvisual__slide">
            <div class="c-mainvisual__slide2 c-mainvisual__img"></div>
        </div>
        <div class="c-mainvisual__slide">
            <div class="c-mainvisual__slide3 c-mainvisual__img"></div>
        </div>
    </div>

    <div class="c-mainvisual__headingwrapper">
        <h1 class="c-mainvisual__heading">
            <span class="c-mainvisual__heading1 c-mainvisual__block">
                若い力を
            </span>
            <span class="c-mainvisual__heading2 c-mainvisual__block">
                発揮できる環境が
            </span>
            <span class="c-mainvisual__heading3 c-mainvisual__block">
                ココにはある。
            </span>
        </h1>
    </div>
</section>