<section class="c-recruit page-section" id="recruit">
    <div class="c-recruit__header">
        <h2 class="c-title34 c-recruit__heading">
            採用情報
        </h2>
        <p class="c-title16 c-recruit__subheading">
            株式会社エンテックスでは、<br class="is-sp">下記の人材を募集しています。<br>
            詳しくは募集要項をご確認ください。
        </p>
    </div>

    <div class="c-recruit__tabwrapper">
        <div class="c-recruit__tabs">
            <div class="c-recruit__tab c-recruit__tab1 is-active">
                <span class="c-recruit__tabname">新卒採用</span>
            </div>

            <div class="c-recruit__tab c-recruit__tab2">
                <span class="c-recruit__tabname">中途採用</span>
            </div>
        </div>

        <div class="c-recruit__tabcontent c-recruit__boxcontent">
            <table>
                <tr class="c-recruit__firsttr">
                    <th class="c-recruit__firstrow c-recruit__firstth">職種</th>
                    <td class="c-recruit__firstrow c-recruit__firsttd ">外構工事・土木工事（未経験者）</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">仕事内容</th>
                    <td class="c-recruit__otherstd">外構工事、土木工事、各種工事<br class="is-pcntab">
                        各種解体業<br>
                        新築販売(設計・施工・販売)、リフォーム事業、<br class="is-sp">宅地建物取引業</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">雇用形態</th>
                    <td class="c-recruit__otherstd">正社員</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">応募資格</th>
                    <td class="c-recruit__otherstd">土木、建設、建築を学んだ方、未経験者も可<br>
                        普通自動車免許取得者</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">給与</th>
                    <td class="c-recruit__otherstd">外構工事・土木工事（未経験者）194,000円～282,000円</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">昇給賞与</th>
                    <td class="c-recruit__otherstd">昇給年に１回<br>
                        賞与年に2回（夏、冬）</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">諸手当</th>
                    <td class="c-recruit__otherstd">皆勤手当：5,000円<br>
                        固定休日手当：5日分（賃金単価による）<br>
                        資格手当: 内容により上限20,000円<br>
                        残業手当あり</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">福利厚生</th>
                    <td class="c-recruit__otherstd">社会保険完備（健康保険、厚生年金保険、労災保険、雇用保険）</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">勤務地</th>
                    <td class="c-recruit__otherstd">〒662-0928 兵庫県西宮市石在町17-41</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">勤務時間</th>
                    <td class="c-recruit__otherstd">8:00 ～ 17:00　変形(１年単位)</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">休日休暇</th>
                    <td class="c-recruit__otherstd">日・祝　会社カレンダーによる　夏季・年末年始</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">採用担当</th>
                    <td class="c-recruit__otherstd">遠藤</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth c-recruit__lastth">応募者向け<br class="is-pcntab">メッセージ</th>
                    <td class="c-recruit__otherstd">
                        阪神間でNo.1を誇る外構･エクステリア業者です。お客様に喜ばれる仕事を理念に掲げ、即戦力となる社員育成を行っております。幅広い仕事をこなす事が出来、年に一度上司によるキャリアアップ等に関する面談、資格取得支援もありスキルアップのチャンスがあります。
                    </td>
                </tr>
            </table>

            <div class="c-recruit__tableactions">
                <div class="c-recruit__student c-recruit__tableaction">
                    <img class="c-recruit__assignmenticon" src="./assets/img/assignment.svg" alt="高校生の方はこちら">
                    <p class="c-recruit__assignmenttext c-recruit__tableaction1">高校生の方はこちら</p>
                </div>
                <div class="c-recruit__nonstudent c-recruit__tableaction">
                    <img class="c-recruit__assignmenticon" src="./assets/img/assignment.svg" alt="高校生以外の方はこちら">
                    <p class="c-recruit__assignmenttext c-recruit__tableaction2">高校生以外の方はこちら </p>
                </div>
            </div>
        </div>

        <div class="c-recruit__tabcontent2 c-recruit__boxcontent">
            <table>
                <tr class="c-recruit__firsttr2">
                    <th class="c-recruit__firstrow c-recruit__firstth">職種</th>
                    <td class="c-recruit__firsttd c-recruit__firstrow">外構工事・土木工事</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">仕事内容</th>
                    <td class="c-recruit__otherstd">外構工事、土木工事、各種工事<br class="is-pcntab">
                        各種解体業<br>
                        新築販売(設計・施工・販売)、リフォーム事業、<br class="is-sp">宅地建物取引業</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">雇用形態</th>
                    <td class="c-recruit__otherstd">正社員</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">応募資格</th>
                    <td class="c-recruit__otherstd">土木、建設、建築を学んだ方、未経験者も可<br>
                        普通自動車免許取得者</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">給与</th>
                    <td class="c-recruit__otherstd">現場監督、施工管理業務　350,000円　～500,000円 <br>
                        外構工事・土木工事（経験者）238,000円～460,400円 <br>
                        外構工事・土木工事（未経験者）194,000円～282,000円 <br>
                        昇給賞与：昇給年に１回</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">昇給賞与</th>
                    <td class="c-recruit__otherstd">昇給年に１回<br>
                        賞与年に2回（夏、冬）</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">諸手当</th>
                    <td class="c-recruit__otherstd">皆勤手当：5,000円<br>
                        固定休日手当：5日分（賃金単価による）<br>
                        資格手当: 内容により上限20,000円<br>
                        残業手当あり</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">福利厚生</th>
                    <td class="c-recruit__otherstd">社会保険完備（健康保険、厚生年金保険、労災保険、雇用保険）</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">勤務地</th>
                    <td class="c-recruit__otherstd">〒662-0928 兵庫県西宮市石在町17-41</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">勤務時間</th>
                    <td class="c-recruit__otherstd">8:00 ～ 17:00　変形(１年単位)</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">休日休暇</th>
                    <td class="c-recruit__otherstd">日・祝　会社カレンダーによる　夏季・年末年始</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth">採用担当</th>
                    <td class="c-recruit__otherstd">遠藤</td>
                </tr>
                <tr>
                    <th class="c-recruit__othersth c-recruit__lastth">応募者向け<br class="is-pcntab">メッセージ</th>
                    <td class="c-recruit__otherstd">
                        阪神間でNo.1を誇る外構･エクステリア業者です。お客様に喜ばれる仕事を理念に掲げ、即戦力となる社員育成を行っております。幅広い仕事をこなす事が出来、年に一度上司によるキャリアアップ等に関する面談、資格取得支援もありスキルアップのチャンスがあります。
                    </td>
                </tr>

            </table>
        </div>
    </div>
</section>